html, body, input {
    margin: 0;
    padding: 0;

    font-family: monospace;
    color: #202020;
}

.c1 { background-color: #00ddaa; }
.c2 { background-color: #ddaa00; }
.c3 { background-color: #aa00dd; }
.c4 { background-color: #00aadd; }
.c5 { background-color: #aadd00; }
.c6 { background-color: #dd00aa; }

#header {
    height: 32px;
    width: 100%;
}

#wrapper {
    width: 930px;
    margin: 0px auto;
    box-shadow: 0px 6px 12px 3px #000000;
}

#main {
    background-color: #ffffff;
    font-size: 1.3em;
    padding: 10px 5px 10px 5px;
    min-height: 600px;
}

#footer {
    background-color: #b0b0b0;
    text-align: right;
    padding: 4px 0px;
    margin-bottom: 28px;
}

#footer a {
    font-size: 1.2em;
    color: #202020;
    text-shadow: 1px 1px 1px #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 10px;
}

pre {
    margin: 0;
    padding: 0;
}

form {
    padding-top: 5px;
}

input {
    border: none;
    background-color: #f0f0f0;

    width: 894px;
    font-size: 1.0em;
}

a:focus, input:focus {
    outline: none;
}
