/* desktop */
#desktop {
    position: absolute;
    top: 0px;
    bottom: 20px;
    left: 0px;
    right: 0px;
    background: -moz-linear-gradient(center top , #00AAD4, #55DDFF) repeat scroll 0 0 transparent;
    z-index: 1;
    overflow: hidden;
}
