html, body, input {
    margin: 0;
    padding: 0;
    font: 0.95em "Trebuchet MS",Helvetica,sans-serif;
    color: #202020;
}

.c1 { background-color: #00ddaa; }
.c2 { background-color: #ddaa00; }
.c3 { background-color: #aa00dd; }
.c4 { background-color: #00aadd; }
.c5 { background-color: #aadd00; }
.c6 { background-color: #dd00aa; }

#header {
    height: 32px;
    width: 100%;
}

#wrapper {
    position: absolute;
    top: 16px;
    bottom: 48px;
    right: 0px;
    left: 0px;
}

#wrapper2 {
    position: relative;
    max-width: 896px;
    margin: 0px auto;
    height: 100%;
    min-height: 64px;
}

#main {
    margin: 0px 16px 0px 16px;
    background-color: #ffffff;
    box-shadow: 0px 6px 12px 3px #000000;
    height: 100%;
    overflow: auto;
    padding: 4px 4px 4px 4px;
}

#main, input, pre {
    font: 0.96em "Courier New", Courier, monospace;
}

#footer {
    background-color: #b0b0b0;
    box-shadow: 0px 6px 12px 3px #000000;
    background-image: -moz-linear-gradient(center top , #c0c0c0, #909090);
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#c0c0c0), to(#909090));
    /*background-image: linear-gradient(bottom, rgb(160,160,160) 40%, rgb(112,112,112) 70%, rgb(85,85,85) 85%);*/
    /*background-image: -o-linear-gradient(bottom, rgb(160,160,160) 40%, rgb(112,112,112) 70%, rgb(85,85,85) 85%);*/
    /*background-image: -webkit-linear-gradient(bottom, rgb(160,160,160) 40%, rgb(112,112,112) 70%, rgb(85,85,85) 85%);*/
    /*background-image: -ms-linear-gradient(bottom, rgb(160,160,160) 40%, rgb(112,112,112) 70%, rgb(85,85,85) 85%);*/
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: right;
    padding: 2px 0px 4px 0px;
}

#footer a {
    color: #000000;
    text-shadow: 1px 1px 1px #ffffff;
    text-decoration: none;
    padding: 0px 4px;
    font-size: 11px;
}

pre {
    margin: 0;
    padding: 0;
}

form {
    background-color: #e0e0e0;
}

input {
    border: none;
    background-color: #f0f0f0;
}

a:focus, input:focus {
    outline: none;
}

#command {
    width: 1.0em;
}

.editor {
    width: 99%;
    height: 20.0em;
}

/* colors in shell */
.regular { font-weight: normal; }
.bold { font-weight: bold; }
.underline { text-decoration: underline; }

.text-black { color: #000000; }
.text-red { color: #ff0000; }
.text-green { color: #00ff00; }
.text-yellow { color: #ffff00; }
.text-blue { color: #0000ff; }
.text-purple { color: #ff00ff; }
.text-cyan { color: #00ffff; }
.text-white { color: #ffffff; }

.background-black { color: #000000; }
.background-red { color: #ff0000; }
.background-green { color: #00ff00; }
.background-yellow { color: #ffff00; }
.background-blue { color: #0000ff; }
.background-purple { color: #ff00ff; }
.background-cyan { color: #00ffff; }
.background-white { color: #ffffff; }
