/* taskbar */

#taskbar {
    position: absolute;
    bottom: 0px;
    height: 18px;
    left: 0px;
    right: 0px;
    background: -moz-linear-gradient(center top , #CCCCCC, #DDDDDD) repeat scroll 0 0 transparent;
    border: 1px solid #808080;
    box-shadow: 0px 0px 10px 0px #606060;
    z-index: 100;
    overflow: hidden;
}

#taskbar div {
    height: 18px;
    float: left;
    text-align: center;
    line-height: 20px;
}

#taskbar div.home {
    width: 18px;
    border-right: 1px solid #808080;
    background-color: #AADD00;
}

#taskbar div.tags {
    border-right: 1px solid #808080;
}

#taskbar div.tags ul {
    list-style: none;
}

#taskbar div.tags ul li {
    float: left;
    width: 18px;
}

#taskbar div.tags ul li a {}

#taskbar div.tags ul li.active {}
#taskbar div.tags ul li.active a {
    font-weight: bold;
}

#taskbar div.tasks {}

#taskbar div.tasks ul {
    list-style: none;
}

#taskbar div.tasks ul li {
    float: left;
}

#taskbar div.tasks ul li a {
    min-width: 18px;
}

#taskbar div.tasks ul li.active {
    background-color: #BFBFBF;
}

#taskbar div.tasks ul li.active a {}

#taskbar div.layout {
    width: 18px;
    border-left: 1px solid #808080;
    float: right;
}
